@model the_website_test.Models.Departments
@{
    ViewBag.Title = "About";
}

  
            @Html.Partial("DepartmentCategories")

        
        <div class="Cv col-xl-8">
            <h1>About the department</h1>
            <p class="about">
                @Model.About
            </p>
        </div>
    </div>
</div>
<!--end Account-->