/* home view*/        
    /*Start News Home*/
        .News-Home .search-bar .button-dropdown-search-News
        {
            margin: 48px 0px 50px 150px;
            padding: 8px;
            background-color: #818284;
        }

        .News-Home .search-bar .dropdownMenuButton-search
        {
            text-align: right;
        }
        .News-Home .search-bar .Search-input
        {
            margin: 80px 50px 0px 150px;
            padding: 5px;
            background-color: #f8f5f5;
            border: 2px solid #bebdbd;
        }
    /*End News Home*/

            
    /*start Slider*/
        .slider
        {
            background-color: #DDD;
        }
        .slider .carousel-item
        {
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
        }
        .slider .carousel-one
        {
            background-image: url('../images/fee/00.jpg');
        }
        .slider .carousel-two
        {
            background-image: url('../images/fee/01.jpg');
        }
        .slider .carousel-three
        {
            background-image: url('../images/fee/02.jpg');
        }
        .slider .carousel-indicators li{
            height: 8px;
            cursor: pointer;
        }
    /*End Slider*/
    /*about-main*/
        .about-main h2{
            margin-top: 80px;
            color: #741a40;
            font-weight: bold;
            text-align: center;
        
        }
        .about-main p{
            
            margin-left: 400px;
            margin-right: 400px;
            margin-bottom: 80px;
        }
    /*Strat cardes*/
        .card
        {
            margin-top: 50px;
            margin-right: 30px;
            margin-left: 30px;
            border-color: #741a40;
            box-shadow: 7px 8px 8px -5px #818284;
            background: #ffffff;
            min-width: 330px;
            border-radius: 0px;

            
        }
        
        .card-body
        {
                min-width: 360px;
                min-height: 120px;
        }
        .card .divider
        {
            height: 1px;
        padding: 3px;
            overflow: hidden;
            background-color: #741a40;
        }
        .card h3
        {
            font-weight: bold;
            color: #741a40;
        }
        .speed-links .card p
        {
            height: 222px;
            padding-right: 20px;
            padding-left: 10px;
            color: #741a40;
        }
        .speed-links .card img
        {
            border-radius: 0px;
        }
        .speed-links .card .btn-primary
        {
            background-color: #741a40;
            border-color: #741a40;
            margin-left: 80px;
            margin-top: 35px;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .speed-links .card  .long
        {
            margin-top: 0px;
        }
    /*end cardes*/
    /*start news slider*/
        
        h1
        {
        text-align: center;
            padding-top: 100px;
            
        }
        
        .all-news
        {
        color: #111;
        font-weight: bold;
            position: relative;
            margin-left: 1060px;
        
        }
        .News-slider img{
        height: 183.67px;
        }

        .News-slider .card
        {
            margin-top: 0px;
            margin-bottom: 20px
        }
        
        .News-slider .card-body
        {
                min-width: 360px;
                height: 350px;
        }
        .News-slider .card .divider
        {
            height: 1px;
            padding: 3px;
            overflow: hidden;
            background-color: #741a40;
        }
        .News-slider .card h3
        {
            margin-right:  5px;
            font-weight: bold;
            color: #741a40;
        }
        .News-slider .card .sub-title
        {
        color: #818288;
        }
        .News-slider .card p
        {
            height:222px; 
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }
        
        .News-slider .card .btn-primary
        {
            background-color: #741a40;
            border-color: #741a40;
            margin-left: 100px;
            
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .News-slider .card  .long
        {
            margin-top: 520px;
        }
        
        .News-slider .carousel-indicators
        {
            top: 670px;
            position: relative;

        }
        .News-slider .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .News-slider  .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 380px;
        color: #818284;
        }
        .News-slider .carousel-control-next-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 380px;
        color: #818284;
        }
    /*end news slider*/
    /*start event slider*/
        .all-events
        {
            color: #111;
            font-weight: bold;
            position: relative;
            margin-left: 1060px;
        
        }
        .events-slider .card
        {
            margin-top: 0px;
            margin-bottom: 120px
        }
        
            .events-slider .card-body
        {
                min-width: 360px;
                min-height: 122px;
        }
        
        .events-slider .card h3
        {
            font-weight: bold;
            color: #741a40;
            margin: 10px;
        }
        .events-slider .card .sub-title
        {
        color: #818288;
        }
        .events-slider .card p
        {
        
            height: 140px;
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }
        .events-slider .top-date
        {
        min-width: 120px;
        height: 38px;
        background-color: #796300;
            border-color: #796300;
            color: #FFF;
            position: relative;
            margin-left: 30px;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }

        .events-slider .card .long
        {
            background-color: #796300;
            border-color: #796300;
            margin-left: 105px;
            margin-top: 320px;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .events-slider .carousel-indicators
        {
            top: 470px;
            position: relative;

        }
        .events-slider .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .events-slider .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .events-slider .carousel-control-next-icon
        {

        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .events-slider img
        {
            position: relative;
            margin-top: -150px
        }

    /*End event slider*/
    /*start form*/
        .request-form
            {
                margin-left: 200px;
            }
            
            .request-form h3
            {
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            }
    /*End form*/

/*add Event view*/
    /*start form*/
        .Add-Event
        {
        margin-top: 100px;
        margin-left: 200px;
        margin-right: 200px;
        }
        .Add-Event h2
        {
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #796300;
        border: 2px solid #796300;
        }
        .Add-Event label
        {
        margin-left: -16px;
        }
    /*End form*/

/* Events view*/
    /*Start News Home*/
        .Event-Home .search-Event 
        {
            margin-left: 125px;
        }

        .custom-select 
        {
        width: 200px;
        height: 50px;
        margin-left: 30px;
        background-color: #b2b2b2;
        color: white;
        font-weight: bold;
        font-size: 18px;
            
        }


        .Event-Home .search-Event .Search-input
        {
            margin-left: 45px;
            margin-top: 80px;
            padding: 5px;
            height: 46px;
            background-color: #f8f5f5;
            border: 2px solid #bebdbd;
        }
        .Event-Home .search-Event .addevent
        {
            color:  white;
            background-color:  #796300;
            margin-left: 45px;
            height: 45px;
            border-color:  #796300;
            
        }
    /*End News Home*/

    /*start main News */
        .col-sm-12
        {
        width: 100%;
        margin-left: 30px;
        }
        .main-Event .card 
        {
            border-top: 5px solid #796300
        }

        .main-Event .card .card-title
        {
            font-weight: bold
        }
        .main-Event .card .sub-title
        {
            color: #868789;
            font-size: medium;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .main-Event .card p
        {
            color: #8f9092;
        }
        .btn-primary
        { 
            color: #fff;
            background-color: #796300;
            border-color: #796300;
        
            border-radius: 0px;
            padding: 10px;
            margin: 30px;
            margin-top: 0px;
            box-shadow: 7px 8px 8px -5px #818284;
        }
        .btn-primary:hover,
        .btn-primary:focus
        {
            background-color: #782045;
            border-color: #782045; 
            box-shadow: -7px -8px -8px 5px;
        }

        .main-Event .carousel-slide-main-Event .carousel-indicators
        {
            top: 400px;
            position: relative;
            

        }
        .main-Event .carousel-slide-main-Event .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .main-Event .carousel-slide-main-Event  .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .main-Event .carousel-slide-main-Event  .carousel-control-next-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
    /*start news slider*/

        .Event-body .card
        {
            margin: 100px 30px;
            border-color: #741a40;
            box-shadow: 7px 8px 8px -5px #818284;
            background: #ffffff;
            min-width: 330px;
            border-radius: 0px;
        }
        .Event-body .card .card-body
        {
                min-width: 360px;
                height: 350px;
        }
        .Event-body .card h3
        {
            margin:  5px;
            font-weight: bold;
            color: black;
        }
        .Event-body .card .sub-title
        {
        color: #818288;
        }
        .Event-body .card p
        {
        
            height: 120px;
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }


        .Event-body .card .long
        {
            margin-left: 105px;
            margin-top: 320px;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }

        
        .Event-body .card .top-date
        {
            min-width: 120px;
            height: 38px;
            color: #FFF;
            position: relative;
            margin-left: -1px;
            margin-top: -38px;
        }
        .Event-body .card .btn-primary
        {
            background-color: #796300;
            border-color: #796300;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        } 
        
    /*end Event body*/

/* history view*/        
    /*start cover*/
        .cover
        {
        position: relative;
        text-align: center;
        color: #efeeee;
       
            
        }

        .cover .title {
        position: absolute;
        top: 120px;
        left: 100px; 
        font-size: 80px;
        color: white;
        }
    /*End cover*/

    /*start history*/  
        .History-text
        {
            margin-top: 80px;
            margin-bottom: 80px;
            line-height: 30px;
            text-align: left;
        }

    /*End history*/

/* add news view*/
     
    /*start Slider*/
        .slider
        {
            background-color: #DDD;
        }
        .slider .carousel-item
        {
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
        }
        .slider .carousel-one
        {
            background-image: url('../images/fee/00.jpg');
        }
        .slider .carousel-two
        {
            background-image: url('../images/fee/00.jpg');
        }
        .slider .carousel-three
        {
            background-image: url('../images/fee/00.jpg');
        }
        .slider .carousel-indicators li{
            height: 8px;
            cursor: pointer;
        }
    /*End Slider*/
    /*about-main*/
        .about-main h2{
            margin-top: 80px;
            color: #741a40;
            font-weight: bold;
            text-align: center;
        
        }
        .about-main p{
            
            margin-left: 400px;
            margin-right: 400px;
            margin-bottom: 80px;
        }
    /*Strat cardes*/
        .card
        {
            margin-top: 50px;
            margin-right: 30px;
            margin-left: 30px;
            border-color: #741a40;
            box-shadow: 7px 8px 8px -5px #818284;
            background: #ffffff;
            min-width: 330px;
            border-radius: 0px;

            
        }
        
        .card-body
        {
                min-width: 360px;
                min-height: 120px;
        }
        .card .divider
        {
            height: 1px;
        padding: 3px;
            overflow: hidden;
            background-color: #741a40;
        }
        .card h3
        {
            font-weight: bold;
            color: #741a40;
        }
        .speed-links .card p
        {
            height: 222px;
            padding-right: 20px;
            padding-left: 10px;
            color: #741a40;
        }
        .speed-links .card img
        {
            border-radius: 0px;
        }
        .speed-links .card .btn-primary
        {
            background-color: #741a40;
            border-color: #741a40;
            margin-left: 80px;
            margin-top: 35px;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .speed-links .card  .long
        {
            margin-top: 0px;
        }
    /*end cardes*/
    /*start news slider*/
        
        h1
        {
        text-align: center;
            padding-top: 100px;
            
        }
        
        .all-news
        {
        color: #111;
        font-weight: bold;
            position: relative;
            margin-left: 1060px;
        
        }
        .News-slider img{
        height: 183.67px;
        }

        .News-slider .card
        {
            margin-top: 0px;
            margin-bottom: 20px
        }
        
        .News-slider .card-body
        {
                min-width: 360px;
                height: 350px;
        }
        .News-slider .card .divider
        {
            height: 1px;
        padding: 3px;
            overflow: hidden;
            background-color: #741a40;
        }
        .News-slider .card h3
        {
            margin-right:  5px;
            font-weight: bold;
            color: #741a40;
        }
        .News-slider .card .sub-title
        {
        color: #818288;
        }
        .News-slider .card p
        {
            height:222px; 
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }
        
        .News-slider .card .btn-primary
        {
            background-color: #741a40;
            border-color: #741a40;
            margin-left: 100px;
            
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .News-slider .card  .long
        {
            margin-top: 520px;
        }
        
        .News-slider .carousel-indicators
        {
            top: 670px;
            position: relative;

        }
        .News-slider .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .News-slider  .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 380px;
        color: #818284;
        }
        .News-slider .carousel-control-next-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 380px;
        color: #818284;
        }
    /*end news slider*/
    /*start event slider*/
        .all-events
        {
            color: #111;
            font-weight: bold;
            position: relative;
            margin-left: 1060px;
        
        }
        .events-slider .card
        {
            margin-top: 0px;
            margin-bottom: 120px
        }
        
            .events-slider .card-body
        {
                min-width: 360px;
                min-height: 122px;
        }
        
        .events-slider .card h3
        {
            font-weight: bold;
            color: #741a40;
            margin: 10px;
        }
        .events-slider .card .sub-title
        {
        color: #818288;
        }
        .events-slider .card p
        {
        
            height: 140px;
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }
        .events-slider .top-date
        {
        min-width: 120px;
        height: 38px;
        background-color: #796300;
            border-color: #796300;
            color: #FFF;
            position: relative;
            margin-left: 30px;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }

        .events-slider .card .long
        {
            background-color: #796300;
            border-color: #796300;
            margin-left: 105px;
            margin-top: 320px;
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .events-slider .carousel-indicators
        {
            top: 470px;
            position: relative;

        }
        .events-slider .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .events-slider .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .events-slider .carousel-control-next-icon
        {

        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .events-slider img
        {
            position: relative;
            margin-top: -150px
        }

    /*End event slider*/
    /*start form*/
        .Add-News
            {
                margin-top: 100px;
                margin-left: 200px;
                margin-right: 200px;
        }
        .Add-News h2
            {
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #741a40;
            border: 2px solid #741a40;
            }
        .Add-News label
        {
            margin-left: -16px;
        }
    /*End form*/
/* news view*/
    /*Start News Home*/
        .News-Home .search-bar .button-dropdown-search-News
        {
            margin: 48px 0px 50px 150px;
            padding: 8px;
            background-color: #818284;
        }

        .News-Home .search-bar .dropdownMenuButton-search
        {
            text-align: right;
        }
        .News-Home .search-bar .Search-input
        {
            margin: 80px 50px 0px 150px;
            padding: 5px;
            background-color: #f8f5f5;
            border: 2px solid #bebdbd;
        }
        .News-Home .search-bar .addNews
        {
            color:  #FFF;
            background-color:  #741a40;
            margin-left: 100px;
            border-color:  #741a40;
            
        }
    /*End News Home*/

    /*start main News */
        .col-sm-12
        {
        width: 100%;
        margin-left: 30px;
        }
        .main-news .card 
        {
            border-top: 5px solid #741a40
        }
        .main-news .card .card-img
        {
            width: 320px;
            height: 280px;
            margin: 15px;
        }
        .main-news .card .card-title
        {
            font-weight: bold
        }
        .main-news .card .sub-title
        {
            color: #868789;
            font-size: medium;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .maid-news .card p
        {
            color: #8f9092;
        }
        .btn-primary
        { 
            color: #fff;
            background-color: #782045;
            border-color: #782045;
            margin: 30px;
            border-radius: 0px;
            padding: 10px;
            margin: 30px;
            box-shadow: 7px 8px 8px -5px #818284;
        }
        .btn-primary:hover,
        .btn-primary:focus
        {
            background-color: #782045;
            border-color: #782045; 
            box-shadow: -7px -8px -8px 5px;
        }

        .main-news .carousel-slide-main-news .carousel-indicators
        {
            top: 400px;
            position: relative;
            

        }
        .main-news .carousel-slide-main-news .carousel-indicators li{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #818284;
        }
        .main-news .carousel-slide-main-news  .carousel-control-prev-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
        .main-news .carousel-slide-main-news  .carousel-control-next-icon
        {
        width: 30px;
        height: 30px;
        position: relative;
        top: 230px;
        color: #818284;
        }
    /*start news slider*/

        .News-body .card  h1
        {
        text-align: center;
            padding-top: 100px;
            
        }
        .News-body .card
        {
            margin: 100px 30px 20px 30px;
            border-color: #741a40;
            box-shadow: 7px 8px 8px -5px #818284;
            background: #ffffff;
            min-width: 330px;
            border-radius: 0px;
        }
        
        .News-body .card img
        {
            height: 183.67px;
        }
        
        .News-body .card .card-body
        {
                min-width: 360px;
                height: 350px;
        }
        .News-body .card .divider
        {
            height: 1px;
        padding: 3px;
            overflow: hidden;
            background-color: #741a40;
        }
        .News-body .card h3
        {
            margin-right:  5px;
            font-weight: bold;
            color: #741a40;
        }
        .News-body .card .sub-title
        {
        color: #818288;
        }
        .News-body .card p
        {
            height:222px; 
            padding-right: 20px;
            padding-left: 10px;
            color: #a4a5a6;
        }
        
        .News-body .card .btn-primary
        {
            background-color: #741a40;
            border-color: #741a40;
            margin-left: 100px; 
            position: absolute;
            box-shadow: 7px 8px 8px -5px #818284;
            border-radius: 0px;
        }
        
        .News-body .card  .long
        {
            margin-top: 520px;
        }
        
        .News-slider .carousel-indicators
        {
            top: 670px;
            position: relative;

        }
        
    /*end news body*/
    
/*start Goals*/  
.card h3
{
    color: #741a40;
    padding: 10px;
    text-align: center;
}

.card
{
    margin: 40px;
}
.card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
/*End history*/
.cover
{
  position: relative;
  text-align: center;
  color: #efeeee;
    
}

.cover .title {
  position: absolute;
  top: 120px;
  left: 100px; 
  font-size: 80px;
  color: white;
}

/*start cover*/
.cover
{
  position: relative;
  text-align: center;
  color: #efeeee;
    
}

.cover .title {
  position: absolute;
  top: 120px;
  left: 100px; 
  font-size: 80px;
  color: white;
}
/*End cover*/

/*start list-group*/
.list-group .list-group-item 
{
    padding: 27px;
    background-color: #cec6c9;
    font-weight: bold; 
    color: black;
}

.list-group .list-group-item:hover
{
    background-color: #741a40;
    color: #e7e7e7;
    padding-left: 30px;
}
.list-group .list-group-item:active
{

    background-color: #741a40;
    color: #e7e7e7;
}
.list-group .active
{
    border: 1px solid black;
    background-color: #741a40;
    color: #e7e7e7;

}
 .profile
{
    margin-top: 8px;
    border-radius: 50%;
    margin-left: 40%;
    
}
h1 ,h3
{
    color: #741a40;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.col-xl-8
{
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 2;
    font-size: x-large;
    letter-spacing: 0.5px;
    font-family: -webkit-pictograph;

}
.card-img-top
{
    border-radius: 50%;
    padding: 20px 20px 10px 20px;
}
.Staff
   {
      margin-top: 20px;
      margin-bottom: 20px;
   }
.staff-Name
{
    color: black;
}
.staff-Name:hover
{
    color: #741a40;
}
.Staff .card
{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 50px;
}
/*End Staff*/
/*start courses*/
.courses table
{
    margin-top: 20px;
}
.courses th
{
    font-weight: 100px;
}
 .courses table, th, td {
    
  border: 2px solid black;
}
/*end courses*/
/*start research*/
.Researches .card
{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 50px;
}
.Researches .card .Research-title
{
    padding: 10px;
    color: #741a40;

}
.Researches .card .auther
{
    padding: 10px;
    color: black;

}

 .Researches .card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
/*end of researsh*/

/*start of head*/
.head .profile
{
    margin-top: 8px;
    border-radius: 50%;
    margin-left: 40%;
    
}

.head .col-xl-8
{
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 2;
    font-size: x-large;
    letter-spacing: 0.5px;
    font-family: -webkit-pictograph;

}
.head .social-list
     {
        overflow: hidden;
        margin-left: 150px;
        margin: 20px 0 10px;
              
     }
.head .social-list li
     {

        float:left;
        margin-right: 5px;
        opacity: 0.7;
        -webkit-transition:padding 0.7s ease;
        -moz-transition:padding 0.7s ease;
        -o-transition:padding 0.7s ease;
        transition:padding 0.7s ease;
     }

/*end of head*/
/*start list-group*/
.list-group .list-group-item 
{
    padding: 27px;
    background-color: #cec6c9;
    font-weight: bold; 
    color: black;
}

.list-group .list-group-item:hover
{
    background-color: #741a40;
    color: #e7e7e7;
    padding-left: 30px;
}
.list-group .list-group-item:active
{

    background-color: #741a40;
    color: #e7e7e7;
}
.list-group .active
{
    border: 1px solid black;
    background-color: #741a40;
    color: #e7e7e7;

}
 .profile
{
    margin-top: 8px;
    border-radius: 50%;
    margin-left: 40%;
    
}

.col-xl-8
{
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: bold;
    line-height: 2;
    font-size: x-large;
    letter-spacing: 0.5px;
    font-family: -webkit-pictograph;

}
.social-list
     {
        overflow: hidden;
        margin-left: 150px;
        margin: 20px 0 10px;
              
     }
.social-list li
     {

        float:left;
        margin-right: 5px;
        opacity: 0.7;
        -webkit-transition:padding 0.7s ease;
        -moz-transition:padding 0.7s ease;
        -o-transition:padding 0.7s ease;
        transition:padding 0.7s ease;
     }

.modify
{
    float: right;
   background-color: #cec6c9;
   border-color: #cec6c9;  
   color: black;

}
.modify:hover
{
    background-color: #741a40;
    color: white;
    border-color: #741a40;  
}
.modify:active
{
    background-color: #741a40;
    color: white;
    border-color: #741a40;  
}

/*End history*/

    /*************************************start home page*********************************************/

   /*start Slider home page*/
   .sliderHomepage
   {
      background-color: #DDD;
   }
   .sliderHomepage .carousel-item
   {
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
   }
   .sliderHomepage .carousel-one
   {
      background-image: url('../images/fee/00.jpg');
   }
   .sliderHomepage .carousel-two
   {
      background-image: url('../images/fee/01.jpg');
   }
   .sliderHomepage .carousel-three
   {
      background-image: url('../images/fee/02.jpg');
   }
   .sliderHomepage .carousel-indicators li{
      height: 8px;
      cursor: pointer;
   }
   /******************************************************End Slider************************************************/
   /******************************************************about-main************************************************/

.abouthomepage .frame
{ 
    box-shadow: inset 0 0 0 6px #741a40;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    height: 330px;
    width: 430px;
    margin: 70px
}
.abouthomepage .frame img
{
    max-width: 100%;
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
    height: 330px;
    width: 430px;
   
}
  .abouthomepage .about-main h2{
      margin-top: 80px;
      color: #741a40;
      font-weight: bold;
      text-align:left;
   
   }
   
   /*Strat cardes*/
   .card
   {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    border-color: #741a40;
    box-shadow: 7px 8px 8px -5px #818284;
    background: #ffffff;
    min-width: 330px;
    border-radius: 0px;

    
   }
   
   .card-body
   {
          min-width: 360px;
          min-height: 120px;
   }
   .card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
   .card h3
   {
      font-weight: bold;
      color: #741a40;
   }
   .speed-links .card p
   {
      height: 222px;
      padding-right: 20px;
      padding-left: 10px;
      color: #741a40;
   }
  .speed-links .card img
   {
      border-radius: 0px;
   }
  .speed-links .card .btn-primary
   {
      background-color: #741a40;
      border-color: #741a40;
      margin-left: 80px;
      margin-top: 35px;
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .speed-links .card  .long
   {
      margin-top: 0px;
   }
   /*end cardes*/
   /*start news slider*/
   
   h1
   {
   text-align: center;
    padding-top: 100px;
    
   }
   
  .all-news
{
   color: #111;
   font-weight: bold;
    position: relative;
    margin-left: 1060px;
   
}
 .News-slider img{
   height: 183.67px;
 }

   .News-slider .card
   {
      margin-top: 0px;
      margin-bottom: 20px
   }
   
   .News-slider .card-body
   {
          min-width: 360px;
         height: 350px;
   }
   .News-slider .card .divider
   {
    height: 1px;
   padding: 3px;
    overflow: hidden;
    background-color: #741a40;
   }
   .News-slider .card h3
   {
      margin-right:  5px;
      font-weight: bold;
      color: #741a40;
   }
  .News-slider .card .sub-title
  {
   color: #818288;
  }
   .News-slider .card p
   {
      height:222px; 
      padding-right: 20px;
      padding-left: 10px;
      color: #a4a5a6;
   }
 
  .News-slider .card .btn-primary
   {
      background-color: #741a40;
      border-color: #741a40;
      margin-left: 100px;
      
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .News-slider .card  .long
   {
      margin-top: 520px;
   }
   
   .News-slider .carousel-indicators
   {
     top: 670px;
      position: relative;

   }
   .News-slider .carousel-indicators li{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #818284;
   }
 .News-slider  .carousel-control-prev-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 380px;
   color: #818284;
 }
 .News-slider .carousel-control-next-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 380px;
   color: #818284;
 }
/*end news slider*/
/*start event slider*/
.all-events
{
    color: #111;
    font-weight: bold;
    position: relative;
    margin-left: 1060px;
   
}
 .events-slider .card
   {
      margin-top: 0px;
      margin-bottom: 120px
   }
  
    .events-slider .card-body
   {
          min-width: 360px;
          min-height: 122px;
   }
   
   .events-slider .card h3
   {
      font-weight: bold;
      color: #741a40;
      margin: 10px;
   }
  .events-slider .card .sub-title
  {
   color: #818288;
  }
   .events-slider .card p
   {
   
      height: 140px;
      padding-right: 20px;
      padding-left: 10px;
      color: #a4a5a6;
   }
.events-slider .top-date
{
   min-width: 120px;
   height: 38px;
   background-color: #796300;
    border-color: #796300;
    color: #FFF;
    position: relative;
    margin-left: 30px;
    box-shadow: 7px 8px 8px -5px #818284;
    border-radius: 0px;
}

  .events-slider .card .long
   {
      background-color: #796300;
      border-color: #796300;
      margin-left: 105px;
      margin-top: 320px;
      position: absolute;
      box-shadow: 7px 8px 8px -5px #818284;
      border-radius: 0px;
   }
   
   .events-slider .carousel-indicators
   {
      top: 470px;
      position: relative;

   }
   .events-slider .carousel-indicators li{
      height: 30px;
      width: 30px;
      border-radius: 50%;
      cursor: pointer;
      background-color: #818284;
   }
 .events-slider .carousel-control-prev-icon
 {
   width: 30px;
   height: 30px;
   position: relative;
   top: 230px;
   color: #818284;
 }
 .events-slider .carousel-control-next-icon
 {

   width: 30px;
   height: 30px;
   position: relative;
   top: 230px;
   color: #818284;
 }
.events-slider img
{
    position: relative;
    margin-top: -150px
}

/*End event slider*/
/*start form*/
 .request-form
     {
        margin-left: 200px;
     }
     
     .request-form h3
     {
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
     }
/*End form*/