@model the_website_test.Models.Students
<div class="Account ">
    <div class="row">
        <div class="list-group col-xl-3">
            <a href=" Students/Details/@Model.ID" class="list-group-item list-group-item-action">Personal information</a>
            <a href="../../Subject-Registeration/html/Subject-registration.html" class="list-group-item list-group-item-action ">Subject Registeration</a>
            <a href="../../Academic-Schedule/html/schedule.html" class="list-group-item list-group-item-action active">Academic Schedule</a>
            <a href="../../Results/html/results.html" class="list-group-item list-group-item-action ">Results</a>
            <a href="../../Regulation/html/Regulations.html" class="list-group-item list-group-item-action">Regulations</a>
            <a href="../../Questionnaires/html/University-Accommodation.html" class="list-group-item list-group-item-action">University Accommodation</a>
            <a href="../../Results/html/Dept-registeration.html" class="list-group-item list-group-item-action">Department Registeration</a>
            <a href="../../Questionnaires/html/Questionnaires.html" class="list-group-item list-group-item-action">Questionnaires</a>
            <a href="../../Exam-table/html/Exam-table.html" class="list-group-item list-group-item-action ">Exams table</a>
        </div>
