
@{
    ViewBag.Title = "contact";
}

<body>
   
    <div class="cover">
        <img alt="FEE 50" src="~/images/cover/cover.jpg" class="History-cover">
        <div class="title">Contact</div>
    </div>
    <!--End cover-->
    <!--start goals-->
    <div class="Contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card" style="width: 15rem;">
                        <h3 href="#" class="contact-title">Student Affairs</h3>
                        <div role="separator" class="divider"></div>
                        <div class="card-body">
                            <h5>0483580530</h5>
                            <div class="event-link">
                                <a href="#" class="social"><img src="../images/Social/facebook-24.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end Contact-->
</body>