
@{
    ViewBag.Title = "Degrees";
}

<body>
    <div class="cover">
        <img alt="FEE 50" src="~/images/cover/cover.jpg" class="History-cover">
        <div class="title">Degrees Offered</div>
    </div>
    <!--End cover-->
    <!--start goals-->
    <div class="Degrees">
        <div class="container">

            <h1> The College awards the following degrees:</h1>
            <ul>
                <li>Bachelor's degree.</li>
                <li>Postgraduate diploma degree.</li>
                <li>Master 's degree.</li>
                <li>Doctorate degree.</li>
            </ul>
        </div>
    </div>
    <!--end Contact-->
</body>
