
@{
    ViewBag.Title = "Goals";
}


<div class="cover">
    <img alt="FEE 50" src="~/images/cover/cover.jpg" class="History-cover">
    <div class="title">College Goals</div>
</div>
<!--End cover-->
<!--start goals-->
<div class="goals">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>The strategic goals were re-approved - College Council, April 2012:</h1>
                <ol class="goals-text">
                    <li>Continuous updating of curricula and programs with the requirements of the labor market.</li>
                    <li>Ensuring the quality of the educational process in order to obtain accreditation of academic programsm granted by the college. </li>
                    <li>Advanced scientific research directed to the comprehensive development of the environment and society and keeping pace with global development.</li>
                    <li>To uphold the values and ideals among students.</li>
                    <li>Cooperating with industrial institutions in the field of specialization and investing them to find excellent training opportunities for students and work for graduates.</li>
                    <li>A distinguished graduate who keeps pace with the challenges of the time and competes at the local and regional levels.</li>
                    <li>Distinguished faculty member.</li>
                    <li>Establishing and developing engineering service and consulting centers in the field of specialization to serve the environment and the surrounding community.</li>
                    <li>An effective administrative body.</li>
                    <li>A high position for the college among the corresponding colleges.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--end history-->
