
@{
    ViewBag.Title = "History";
}

<div class="cover">
    <img alt="FEE 50" src="~/images/cover/cover.jpg" class="History-cover">
    <div class="title">College History</div>
</div>
<!--End cover-->
<!--start history-->
<div class="history">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>College History</h1>
                <ul class="History-text">
                    <li>under the name of the Higher Institute of Electronics of the Ministry of Higher Education. The dependency of the institute was transferred from the Ministry of Higher Education to the University of Tanta under the name of the College of Electronic Engineering by Prime Minister Decision No. 924 in the year 1975 AD.</li>

                    <li> Menoufia University was established by Law No. 93 of 1976 issued on 8/14/1976, according to which the University of Menoufia consists of colleges affiliated with the University of Tanta in Shebin El-Koum and Menouf in order to participate with the rest of the universities in Egypt in the performance of the university education message in Egypt, and then the Prime Minister Decision No. 1142 was issued. For the year 1976, issued on 11/25/1976 B, the affiliation of the College of Electronic Engineering to the University of Menoufia.</li>

                    <li> The College of Electronic Engineering - Menoufia University is the only one in Egyptian, Arab and African universities and institutes that is interested in one major in engineering sciences, which is electronics science, as the first three years are considered general for all departments and students start specialties in the third and fourth year for three departments serving in the field of communications, computers, information, control and electronic Industrial.</li>

                    <li>
                        The total area 52,000 m2 (fifty - two thousand square meters) , equivalent to 13 acres, and the college include runways capacity (400 students) and ten laboratories specialized , 3   drawing hall , 6 workshops , a library with three galleries , the center of a computer , There are 3 computer halls and a research hall in addition to the classrooms and employee rooms, in addition to that there are other facilities under construction at a total cost of ten million pounds and awaiting completion, in addition to sports, cultural, artistic, social and university cities activities For college students.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--end history-->
