
@{
    ViewBag.Title = "Mission";
}

<div class="cover">
    <img alt="FEE 50" src="~/images/cover/cover.jpg" class="Mission-cover">
    <div class="title"> Mission & Vision</div>
</div>
<!--End cover-->
<!--start history-->
<div class="Mission">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>College Mission</h1>
                <ul class="Mission-text">
                    <li>Providing the student with the origins of modern engineering knowledge, advanced scientific research methods, high values, and developing the student's personality so that he is able to innovate, challenge, lead, self-learn, team work and compete locally, regionally and globally.</li>
                    <li>Developing and updating academic curricula in the light of contemporary global trends and subjecting them to periodic evaluation in accordance with international standards, taking into account local conditions.</li>
                    <li>Organized active participation in the development of society.</li>
                    <li>Supporting cooperation between the college, university, other universities and scientific research centers in the community at the regional and international levels.</li>
                    <li>Activating the role of units of a special nature to provide research and advisory services to various community institutions and a positive contribution to solving community problems.</li>
                    <li>Incorporation of the concept of total quality and continuous improvement in the fabric of the educational and research system in the college.</li>
                </ul>
                <h1>College Vision</h1>
                <p class="Mission-text">
                    The College of Electronic Engineering seeks to achieve excellence in the field of engineering education for the undergraduate stage as well as for the postgraduate stage at the local, regional and global levels through the comprehensive quality of its scientific departments, and in an atmosphere characterized by independence, freedom, democracy and close cooperation between the college and the university and local, Arab and foreign research institutions and bodies, within the framework of It is one of the cultural, social and moral values that prevail in society, and which contributes to achieving economic, social and human development.
                </p>
            </div>
        </div>
    </div>
</div>

<!--end history-->
